body {
  background-color: white;
  font-family: "Azeret Mono", monospace;
  margin: 0 auto;
  padding-top: 50px;
  text-align: center;
}

h2 {
  font-size: 18px;
  font-weight: 100;
  margin-top: 3px;
}
h3 {
  font-size: 15px;
  font-weight: 50;
  padding-top: -10px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #ffb4cf;
}

hr {
  width: 560px;
  margin: 0 auto;
  padding: 1px;
}

input[type="submit"] {
  background-color: rgb(226, 179, 255);
  border: none;
  border-radius: 5px;
  color: #213553;
  font-size: 12px;
  padding: 6px 10px;
  margin: 2px 5px;
}

input[type="submit"]:hover {
  box-shadow: 2px 2px 10px rgba(247, 74, 160, 0.5);
  background-color: rgb(213, 155, 246);
  color: #e7246c;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.container,
.main-temp,
.temperature-label-far,
.temperature-label-cel,
.card-body {
  font-family: "Azeret Mono", monospace;
}

div.container {
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(15, 36, 58) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  border-radius: 100px;
  box-shadow: 7px 7px 10px rgba(241, 96, 193, 0.8);
  color: #fcfefe;
  display: block;
  margin: 0 auto;
  max-width: 750px;
  max-height: 750px;
  padding-top: 45px;
  padding-bottom: 10px;
  text-align: center;
}

#city-search {
  background-color: rgb(241, 218, 255);
  border: white;
  border-radius: 5px;
  font-size: 12px;
  margin: 0 auto;
  padding: 8px;
  text-align: center;
  width: 330px;
}

#weather-icons {
  padding-top: 20px;
}

#description::first-letter {
  text-transform: capitalize;
}

.buttons {
  padding: 20px;
}

.full-city {
  font-size: 30px;
  font-weight: 400;
  margin-top: 10px;
  text-transform: capitalize;
}

.main-temp {
  display: inline;
  font-size: 40px;
  font-weight: 450;
  margin-top: -10px;
  margin-right: -50px;
  margin-bottom: 10px;
  text-align: center;
}

.humidity-wind {
  font-size: 11px;
  font-weight: 100;
  margin: 5px;
  padding-top: -14px;
  padding-bottom: 20px;
}

.row {
  margin: 25px 63px;
  margin-top: 10px;
  padding-top: -25px;
}

.units {
  display: inline-block;
  font-size: 12px;
  line-height: 60px;
  margin-left: 50px;
  vertical-align: top;
}

.units .active {
  color: rgb(247, 74, 160);
  cursor: default;
}

.units.active:hover {
  text-decoration: none;
  color: white;
}

.col-2 {
  justify-content: center;
  margin-left: 20px;
}

.card {
  background: none;
  height: 100px;
  border: none;
  margin: -10px;
}

.week-day {
  color: white;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 20px;
}

.forecast-temp-high,
.forecast-temp-low {
  color: white;
  font-size: 12px;
  margin-top: 10px;
}

.forecast-temp-high {
  font-weight: 600;
}

.forecast-temp-low {
  font-weight: 200;
}

.footer {
  text-decoration: underline;
  color: #e05c8c;
}

.footer:hover {
  color: #e05c8c;
}

.footer-all {
  font-size: 12px;
}
